[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
flask-sqlalchemy = "*"
requests = "*"
lxml = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
flask-wtf = "*"
flask = "*"
"flask-s3" = "*"
pytest-cov = "*"
coveralls = "*"
black = "*"
flask-bcrypt = "*"
flask-login = "*"
mock = "*"
pytest = "*"
zappa = "*"

[dev-packages]

awscli = "*"


[requires]
python_version = "3.6"
