[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
requests = "*"
lxml = "*"
"psycopg2-binary" = "*"
flask-migrate = "*"
black = "*"
mock = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.6"
